<?xml version="1.0" encoding="utf-8" ?>
<nlog>

	<targets>
		<target name="baseFile" type="File" fileName="C:\Users\conasr1\source\repos\KT-Task-Calculator-test (2)\KTCalculator-test\SpecFlowProject10\logs\base.log" layout="${longdate} ${level:uppercase=true} ${message}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="baseFile" />
	</rules>
</nlog>

